<ion-header >
  <ion-toolbar color="tertiary">
    <ion-title>
      Math
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row >
      <ion-col size-md="6">
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>
                Counter: {{mathCounter}}
              </ion-card-title>
              <p>This number is 
                <span>
                  <ng-template [ngIf]="mathCounter < 3" [ngIfElse]="bigger">smaller </ng-template>
                  <ng-template #bigger>bigger</ng-template>
                </span>
                than 3.
              </p>
            </ion-card-header>
            <div class="ion-text-right">
              <ion-button color="tertiary" (click)="handleSubtraction()">-</ion-button>
              <ion-button color="tertiary" (click)="handleAddition()">+</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
